.bg-blog{
    background-color: #fff;
}
.bg-blog .titulo-s{
    color:#333;
    line-height: 1.5rem;
    margin: 30px 30px 40px 30px;
    padding: 0;
    display: block;
}
.corpo-blog .titulo-s{
    /* margin: 0 0 20px 90px; */
    line-height: 1.9rem;
    text-align: center;
}

#data-plubli{
    padding:30px 40px;
    font-style: italic;
    font-size:18px;
}

.text-descr-blog{
    width: 900px;
    margin:0 auto;
}
.text-descr-blog p{
    /* padding-bottom: 30px; */
    color: #686868;
    line-height: 1.5em;
    font-style: italic;
    margin: 0 40px 40px;
}
.text-descr-blog p:last-child {
    margin-bottom: 20px;
    /* Substitua 20px pela margem desejada */
}
.text-descr-blog a{
    font-size: 1.2em;
    font-style: italic;
}

.text-descr-blog a::after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background:#007bff;
    margin-left: -5px;
}


.text-descr-blog .botao-geral{
    display: none;
}



/* responsividade */
@media (max-width:1280px){
    .text-descr-blog{
        max-width: 100%;
    }
}

@media (max-width:768px){

    .corpo-blog .text-descr-blog{
        width: 600px;
    }
}

@media (max-width:601px){
    .corpo-blog .titulo-s{
        margin:20px 5px 20px;
    }
    
    .corpo-blog .text-descr-blog {
        width: 400px; 
    }
    .text-descr-blog p{
        text-align: center;
        margin-bottom: 20px;
    }
    #data-plubli{
        font-size:16px;
    }
    .ocultar{
        display: none;
    }
    .text-descr-blog .ativo{
        align-items: center;
    }
    .text-descr-blog a::after{
        margin-bottom:40px;
    }
   
    .text-descr-blog .botao-geral {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width:414px) {
    .corpo-blog .text-descr-blog {
        width: 250px;
    }
    #data-plubli {
        margin: 0px;
        font-size: 12px;
    }
}