
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FBFBFB;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

.container {
    margin: 0 50px;
    padding: 10px;
    /* background-color: aqua; */
}

img {
  display: block;
  /* max-width: 100%; */
}

