.bg-header {
    background-color: #fff;
    /* margin-bottom: 40px; */
}

.header-corpo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img{
    width: 60px;
}

.corpo-nav ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    /* Centraliza horizontalmente */
    max-width: 600px;
    /* Defina uma largura máxima para o menu */
    margin: 0 auto;
    /* Centraliza o menu horizontalmente */
}

.corpo-nav a {
    font-size: 1.1875rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #00a6ff;
    text-transform: capitalize;
}

.corpo-nav a:hover {
    color: #023a7f;
    font-weight: bold;
    transition: 1s;
}
.marcador-menu a{
    color: #032e54;
    font-weight: bold;
}

.nave-zap-orc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nave-zap-orc i {
    font-size: 35px;
    margin: 5px;
    color: #00a6ff;
}

.nave-zap-orc i:hover {
    cursor: pointer;
    transition: 1s;
    color: #476ea0;
}

.nave-zap-orc span {
    font-size: 12px;
}

.menu-mobile {
    display: none;
}

.menu-mobile.active {
    display: block;
    width: 120px;
}

.menu-toggle {
    display: none;
}

.menu-mobile {
    position: absolute;
    margin-left: 10px;
    background-color: #5a98f5;
    padding: 10px;
    z-index: 999;
    cursor: pointer;
    border-radius: 5px;
    top:38px;
}

.menu-mobile li {
    list-style: none;
    margin: 8px 0;

}
.menu-mobile a:hover {
    color: #d8d8d8;
    transform: 0.4s;
}

/* responsividade header */

@media(max-width:1025px) {
    
    .corpo-nav a {
        font-size: 1rem;
    }
}

@media (max-width: 898px) {
    .corpo-nav ul {
        display: flex;
        gap: 20px;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .corpo-nav a {
        font-size: 1.0625rem;
    }

    .nave-zap-orc i {
        font-size: 1.5625rem;
    }

    .logo {
        width: 18%;
    }
}

@media (max-width:635px){
    .corpo-nav a {
        font-size: 0.8rem;
    }
}

@media (max-width: 429px) {
    .corpo-nav a {
        font-size: 0.7rem;
    }

    .logo {
        width: 50px;
    }

    .header-corpo {
        display: none;
    }

    .menu-toggle {
        display: flex;
        justify-content: space-between;
        font-size:1.0625;
        margin: 0 25px;
        align-items: center;
        /* margin-bottom: 30px; */
    }
    .menu-toggle i{
        font-size: 1.7rem;
        color: #003b93;
    }

    .menu-mobile a {
        font-size: 0.8rem;
        color: #fff;
        font-size: .9rem;
    }
    
}