/* main */
.bg-inicio{
    margin-bottom:80px;
}
.corpo-inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.625rem;
    margin: 0 .625rem;
}

.btns-inicio{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin: 1.25rem 0;
    flex-wrap: wrap;
}
.btns-inicio{
    margin-bottom:2.5rem;
}
.btns-inicio .orc{
    background-color: rgba(255, 253, 253, 0.564);
    border: .0625rem solid #0483f9;
    box-shadow: 0rem .0625rem .3125rem 0rem #002ca4;
    color: #0057A6;
    padding: .625rem 1.875rem;
    
}
.btns-inicio .orc:hover{
    background-color: #0056b3;
    color: white;
    box-shadow: .0625rem .0625rem .3125rem #002ca4;
    transition: 1s;
}
.descricao-main{
    width: 39.375rem;
    flex-direction: 2;
}

.descricao-main .paragrafo{
    line-height: 24px;
    margin: 0 0 1.25rem;
    color: #686868;
    text-align: start;
    padding-bottom: -5px;
}

.descri-inicio {
    margin: 0 2.5rem 0 0;
    padding: 0rem 2.5rem;
}
.imagem-inicio{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}
.imagem-inicio img {
    border-radius: 1.25rem 0rem 0rem 1.25rem;
}

/* resposividade */
@media(max-width:1025px){
    .descri-inicio {
        margin: 0 0px 0 0;

    }
    .corpo-inicio{
        display: block;
        margin: 0 auto;
    }
    .descricao-main{
        margin: 0 auto;
        padding-bottom: 2.5rem;
    }
    .descricao-main p{
        text-align: center;
    }
    .imagem-inicio img{
        margin: 0 auto;
        border-radius: .625rem;
        padding-bottom: 5rem;
    }
    .bg-inicio {
        margin-bottom: 25px;
    }

    .imagem-inicio img {
        padding-bottom: 3rem;
    }
}

@media (max-width:769px){
    .descri-inicio{
        margin: 0;
        flex-direction: row;
    }
    .imagem-inicio img {
            margin: 0 auto;
            border-radius: .625rem;
            padding-bottom: 0.5rem;
        }

}
@media (max-width:600px){
    .descri-inicio h1{
        /* font-size: 25.6px; */
        font-family: 'IBM Plex Serif', Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin-bottom: 2.5rem;
        text-align: center;
    }
    .descricao-main p {
        font-size: 16px;

    }
    .descricao-main{
       width: 100%;
    }
    .descricao-main p{
        margin: 20px 20px 30px;
    }
    .btns-inicio {
        margin-bottom: 1.5rem;
    }

    .btns-inicio .orc{
        display: block;
        padding: 8px 25px;
        font-size: 16px;
    }
    .btns-inicio .serv{
        display: block;
        padding: 8px 15px;
        font-size: 16px;
    }
    .imagem-inicio img {
        margin: 0 auto;
        border-radius: 0.625rem;
        width: 520px;
    }
    
}
@media (max-width:415px){
    .bg-header{
        margin-bottom: 30px;
    }
    .descri-inicio {
        margin: 0;
        padding: 0rem 2.5rem;
    }
    .descri-inicio h1 {
        font-size: 24.4px;
        font-weight: 700;
    }
    .btns-inicio{
        display:block;
        max-width: 100%;
        gap: 0px;
    }
    .btns-inicio .orc, .serv{
        margin-bottom: 20px;
        text-align: center;
        text-transform: capitalize;
        font-size: 1rem;
    }
    .descricao-main {
        width: 19rem;
    }

    .imagem-inicio img {
        margin: 0 auto;
        border-radius: 0.625rem;
        /* padding-bottom: 5rem; */
        width: 370px;
    }
        
}

/* seletor de seção teste  */
/* .selectors-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.selector {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5ba6f7;
    margin-bottom: 10px;
    cursor: pointer;
} */

/* Adicione estilos para cada selector individual se desejar cores diferentes */
/* .selector:nth-child(1) { background-color: red; } */
/* .selector:nth-child(2) { background-color: green; } */
/* .selector:nth-child(3) { background-color: blue; } */
/* .selector:nth-child(4) { background-color: orange; } */
/* .selector:nth-child(5) { background-color: purple; } */