.bg-sobre{
    margin-bottom: 70px;
}
.bg-sobre .titulo-oculto{
    display: none;
    font-size: 1.8rem;
    font-family: 'IBM Plex Serif', Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.corpo-sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}
.ocultar-sobre{
    display: none;
}

.descri-sobre .LerMais{
    color: #0056b3;
    margin: 20px 0 0;
    display: inline-block;
    font-size: 19px;
}
.img-sobre img{
    margin:0 auto;
    border-radius: 50%;
    padding: 40px 0;
}
.descri-sobre .titulo-s{
    font-size: 30px;
<<<<<<< HEAD
    margin-bottom:20px;
=======
    margin-bottom: .5rem;
>>>>>>> main
}
.descri-sobre .paragrafo{
    letter-spacing:0.4px;
    line-height: 24px;
    padding: 0 35px 0 0;
    color: #686868;
    text-align: start;
    padding-bottom: -5px;
}
.descri-sobre .botao-geral{
    color: #fff;
    margin:20px 0;
    display: inline-block;

}
.descri-sobre ul{
    display:flex;
    align-items: center;
    justify-content:center;
    margin: 60px 40px 0 0;
}
.descri-sobre li{
    display: flex;
    padding:10px;
    font-size: 18px;
    
}
.descri-sobre a i{
    font-size:2.4875rem;
    color: #0056b3;
    padding: 15px;
}

.descri-sobre a i:hover{
    transform: scale(1.2);
    color: #62acf1;
    transition: 0.5s;
}

/* responsividade */

@media(max-width:1025px) {
    .bg-sobre {
        margin-bottom: 30px;
    }
    .corpo-sobre {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
        margin: 20px 0;
        text-align: center;
    }
    .bg-sobre .titulo-oculto{
        display: block;
        text-align: center;
        margin:10px 0 0px;
    }
    .descri-sobre .titulo-s{
        display:none;
    }
    .img-sobre img {
        margin: 0 auto;
        border-radius: 10%;
        /* padding: 40px 0; */
    }
  
    .descri-sobre .paragrafo {
        line-height: 24px;
        text-align: center;
        padding:0 40px;
        margin: 0 0 2.25rem;
        width: 900px;
    }
    .descri-sobre .botao-geral {
        color: #fff;
        margin: 0 0 20px;
        display: inline-block;

    }

    /* .descri-sobre .titulo-s{
        margin-bottom: 1rem;
    } */
}

@media (max-width:884px) {
    .corpo-sobre {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        /* Centraliza horizontalmente */
        justify-content: center;
        /* Centraliza verticalmente */
        text-align: center;
        width: 100%;
        /* Alterado para ocupar a largura total da tela */
        gap: 10px;
        margin: 20px 0px;
    }
    .corpo-sobre .paragrafo {
        text-align: center;
        width: 780px;
    }
    .img-sobre img {
        width: 500px;
        height: 400px;
        padding: 10px 0;
        border-radius: 40px;
        object-fit: cover;
        /* Mantém a proporção da imagem e corta para caber */
    }
    .descri-sobre .paragrafo {
        text-align: center;
        margin: 0 40px 30px;

    }
    .descri-sobre a i{
        font-size:2rem;
        color: #0056b3;
        padding: 6px;
    }
    
}
@media (max-width:769px) {
    .bg-sobre.container{
        width: 100%;
        margin:0 auto;
    }
    .bg-sobre {
        margin-bottom: 43px;
    }
    .bg-sobre .titulo-oculto {
        display: block;
        text-align: center;
        margin:10px 0 20px;
        color: #000;
    }
    .corpo-sobre {
        grid-template-columns: 1fr;
        
    }
    .descri-sobre{
        margin: 0 auto;
        text-align: center;
    }
    .img-sobre img {
    width: 300px;
    height: 400px;
    padding: 10px 0;
    border-radius: 40px;  
    object-fit: cover;
    /* Mantém a proporção da imagem e corta para caber */
    }
    .descri-sobre .paragrafo{
        max-width: 650px;
        text-align: center;
        margin: 0 30px 30px;
    }
    .descri-sobre .botao-geral{
        display: inline-block;
        /* Garante que o botão respeite a largura especificada */
        width: 20%;
        margin: 0 auto;
        
    }
    .descri-sobre ul {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        margin: 20px 0;
    }
    
}
@media (max-width:606px) {
    .img-sobre img{
        margin: 0 auto;
        border-radius: 0.625rem;
        width: 300px;
    }

    .descri-sobre .paragrafo {
        font-size: 16px;
        padding: 0 10px;
    }
}

@media (max-width:428px) {

    .img-sobre img {
        margin: 0 auto;
        border-radius: 0.625rem;
        width: 250px;
        border-radius: 30px;
        }
    .bg-sobre .titulo-oculto {
        font-size: 1.5rem;
    }
    .descri-sobre .paragrafo{
        text-align: justify;
        margin: 0px 20px 30px;
        width: 335px;
    }
    .descri-sobre .botao-geral{
        width: 40%;
        padding: 10px 20px;
        margin-bottom: 20px;
    }
}
@media(max-width:376px){
    .descri-sobre .paragrafo {
        text-align: justify;
        margin: 0px 20px 30px;
        width: 305px;
    }
}